<p-overlayPanel appendTo="body" showCloseIcon="true" #overlayImage>
  <img [src]="getImage()" alt="Food Image" width="200px" height="200px"/>
</p-overlayPanel>
<div class="food-menu-section">
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast padding-bottom-20">Manage Food</div>
    <p-growl appendTo="body" [value]="msgs"></p-growl>
    <div class="table-responsive">
      <p-table #dt [columns]="cols" [value]="listData" [paginator]="true" [rows]="20" [loading]="loadingStatus">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Search Food..."
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <button pButton (click)="onButtonClick('add')" type="button" pTooltip="Add" tooltipPosition="top"
                    icon="fa-plus"></button>
            <button pButton type="button" (click)="onButtonClick('refresh')" tooltipPosition="top" pTooltip="Refresh"
                    icon="fa-refresh"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center"> Sorry, There are no records to display.</td>
          </tr>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>View Image</th>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td width="50">
              <button *ngIf="rowData.image" type="button" pButton (click)="viewImage($event,rowData,overlayImage);"
                      icon="fa-eye"></button>
            </td>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              <button pButton type="button" pTooltip="Edit" tooltipPosition="top"
                      icon="fa-pencil-square-o" (click)="editRecord(rowData)"></button>

              <button pButton type="button" (click)="confirmDelete(rowData)" pTooltip="Delete" tooltipPosition="top"
                      icon="fa-trash-o"></button>
            </td>
          </tr>


        </ng-template>
      </p-table>
    </div>
  </div>
  <div *ngIf="displayDialog">
    <p-dialog appendTo="body" [header]="formHeader" (onHide)="hideDialog($event)" [(visible)]="displayDialog"
              [responsive]="true"
              showEffect="fade" [modal]="true" minWidth="850" [positionTop]="topPosition">
      <app-food-form [foodModel]="dataModel" [buttonType]="buttonType"
                     (onFormSubmit)="onFormSubmit($event)"></app-food-form>
    </p-dialog>
  </div>
  <p-confirmDialog appendTo="body"></p-confirmDialog>
</div>




