.padding-bottom-20 {
  padding-bottom: 20px;
}

.mdl-responsive-table {
  table-layout: fixed;
  width: 100%;
}

.mdl-responsive-table td, th {
  width: 100%;
  white-space: normal;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
  word-break: normal;
}

.padding-left-10 {
  padding-left: 10px;
}

.card-responsive {
  width: 100%;
  height: auto;
}

.mdl-button--fab.mdl-button--mini-fab {
  height: 20px;
  min-width: 20px;
  width: 20px;
}

.h6-margin {
  margin: 0px 24px 0 16px;
}



