<div class="food-menu-section">
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast padding-bottom-20">My Order</div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onSelectionChange(stepper)">
      <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Place your order</ng-template>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-responsive-table">
              <thead>
              <th style="width: 10%">S.N.</th>
              <th style="width: 30%">Food</th>
              <th style="width: 15%">Price</th>
              <th style="width: 10%">Qty</th>
              <th style="width: 20%">Total</th>
              <th class="padding-left-10" style="width: 15%">Action</th>
              </thead>
              <tbody *ngIf="orderDetailList.length==0">
              <tr>
                <td colspan="6">No order has been added.</td>
              </tr>
              </tbody>
              <tbody *ngIf="orderDetailList.length!=0">
              <tr *ngFor="let foodOrder of orderDetailList;let i = index">
                <td>{{i+1}}</td>
                <td>{{foodOrder.ofoFoodEntity.name}}</td>
                <td>{{foodOrder.ofoFoodEntity.price | number : '1.2-2'}}</td>
                <td>{{foodOrder.quantity}}</td>
                <td>{{foodOrder.ofoFoodEntity.price * foodOrder.quantity | number : '1.2-2'}}</td>
                <td>
                  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i class="material-icons" (click)="removeOrder(foodOrder)">remove</i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="4" style="text-align: right"><strong>Grand Total: </strong></td>
                <td><strong>{{grandTotalAmount | number : '1.2-2'}}</strong></td>
                <td></td>
              </tr>
              </tbody>


            </table>
          </div>
          <div class="mdl-cell mdl-cell--6-col">

            <div class="mdl-card mdl-shadow--2dp card-responsive">
              <div class="mdl-card__supporting-text">
                <form [formGroup]="foodOrderFormGroup" (submit)="onOrderSubmit($event)">
                  <mat-button-toggle-group (change)="onSelectDeliveryType($event)" style="margin-bottom: 10px"
                                           name="deliveryType" aria-label="Delivery Type">
                    <mat-button-toggle checked="true" value="PICK_WHEN_READY">Pick When Ready</mat-button-toggle>
                    <mat-button-toggle value="HOME_DELIVERY">Home Delivery</mat-button-toggle>
                  </mat-button-toggle-group>
                  <mat-form-field>
                    <input matInput placeholder="Full Name" formControlName="orderBy" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Phone Number" (keypress)="keyPress($event)"
                           formControlName="contactNumber" required>
                  </mat-form-field>

                  <mat-form-field *ngIf="homeDelivery">
                    <textarea matInput placeholder="Delivery Address" formControlName="deliveryAddress"></textarea>
                  </mat-form-field>
                  <div>
                    <button [disabled]="foodOrderFormGroup.invalid || isEmptyOrders"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" mat-button
                            matStepperNext>Place Order
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h6 class="h6-margin">{{finalizedMsg}}</h6>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

