<div class="food-menu-section">
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">Dashboard</div>
    <div class="android-card-container mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <!--<img src="./assets/images/more-from-1.png">-->
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Total Order</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">{{totalOrder}}</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            View All
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <!--<img src="./assets/images/more-from-1.png">-->
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Total Sales</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">{{totalSales}}</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            View All
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <!--<img src="./assets/images/more-from-1.png">-->
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Home Delivery</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">{{totalDelivered}}</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            View All
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <!--<img src="./assets/images/more-from-1.png">-->
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Pick When Ready</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">{{totalPickWhenReady}}</span>
        </div>
        <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            View All
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

