<div class="row">
  <div class="col-sm-12">
    <form id="sa-food-form" novalidate [formGroup]="ofoFoodForm">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <p-message severity="error" text="Please Upload a image file, first."
                           *ngIf="showFileUploadErrMsg"></p-message>
              </div>

            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                Code:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="text" formControlName="code" placeholder="Code Will Be auto generated"/>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                Name <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="text" formControlName="name" placeholder="Food Name"/>
                <p-message severity="error" text="Name is Required"
                           *ngIf="ofoFoodForm.controls['name'].hasError('required')&& ofoFoodForm.controls['name'].dirty"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                Price <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="text" formControlName="price" placeholder="Food Price"/>
                <p-message severity="error" text="Price is Required"
                           *ngIf="ofoFoodForm.controls['price'].hasError('required')&& ofoFoodForm.controls['price'].dirty"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                Description <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                  <textarea pInputTextarea autoResize="autoResize" placeholder="Description of Food"
                            formControlName="description"></textarea>
                <p-message severity="error" text="Description is Required"
                           *ngIf="ofoFoodForm.controls['description'].hasError('required')&& ofoFoodForm.controls['description'].dirty"></p-message>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-4">
            <img *ngIf="imgUrl" [src]="imgUrl" height="100px" width="100px"> <br/>
            <img [src]="getImage()" height="100px" width="100px" *ngIf="buttonType=='editButton' && !isVisible">
            <p-progressBar *ngIf="isVisible" [value]="progress.value"></p-progressBar>
            <input type='file' (change)="onSelectFile($event)">
            <button pButton type="submit"
                    [disabled]="!isVisible" label="upload" (click)="uploadImage()">
            </button>
          </div>

        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
          </div>
          <div *ngIf="buttonType=='addButton'" class="ui-grid-col-3">
            <button pButton type="reset" label="Reset"></button>
          </div>
          <div *ngIf="buttonType=='addButton'" class="ui-grid-col-4">
            <button pButton type="submit"
                    [disabled]="ofoFoodForm.invalid" label="Save And New" (click)="submitForm(true)">
            </button>
          </div>
          <div class="ui-grid-col-3">
            <button pButton *ngIf="buttonType=='addButton'" type="submit"
                    [disabled]="ofoFoodForm.invalid" label="Save" (click)="submitForm(false)">
            </button>

            <button pButton *ngIf="buttonType=='editButton'" type="submit"
                    [disabled]="ofoFoodForm.invalid" label="Update" (click)="submitForm(false)">
            </button>
          </div>
          <div class="ui-grid-col-2">
            <button pButton type="button" label="Cancel" (click)="closeForm(false)"></button>
          </div>


        </div>
      </div>

    </form>
  </div>
</div>

