
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title" style="cursor: pointer" (click)="onLogoClick()">
            <img class="android-logo-image" src="./assets/images/android-logo.png">
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <!--<div-->
      <!--class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable mdl-textfield&#45;&#45;floating-label mdl-textfield&#45;&#45;align-right mdl-textfield&#45;&#45;full-width">-->
      <!--<label class="mdl-button mdl-js-button mdl-button&#45;&#45;icon" for="search-field">-->
      <!--<i class="material-icons">search</i>-->
      <!--</label>-->
      <!--<div class="mdl-textfield__expandable-holder">-->
      <!--<input class="mdl-textfield__input" type="text" id="search-field">-->
      <!--</div>-->
      <!--</div>-->
      <span class="android-mobile-title mdl-layout-title cursor-pointer" (click)="onLogoClick()">
            <img class="android-logo-image" src="./assets/images/android-logo.png">
          </span>
      <!--<div class="android-more-button material-icons mdl-badge mdl-badge&#45;&#45;overlap" style="cursor: pointer"-->
      <!--data-badge="{{dataBadge}}" (click)="onCartClick()">shopping_cart-->
      <!--</div>-->
      <button class="android-more-button mdl-button" (click)="onCartClick()">
        <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
        <mat-icon class="icon">shopping_cart</mat-icon>
      </button>
      <!--<button class="android-more-button mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-js-ripple-effect"-->
      <!--id="more-button">-->
      <!--<i class="material-icons">more_vert</i>-->
      <!--</button>-->
      <!--<ul class="mdl-menu mdl-js-menu mdl-menu&#45;&#45;bottom-right mdl-js-ripple-effect" for="more-button">-->
      <!--<li class="mdl-menu__item">5.0 Lollipop</li>-->
      <!--<li class="mdl-menu__item">4.4 KitKat</li>-->
      <!--<li disabled class="mdl-menu__item">4.3 Jelly Bean</li>-->
      <!--<li class="mdl-menu__item">Android History</li>-->
      <!--</ul>-->
    </div>
  </div>
  <div id="app-drawer" class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="./assets/images/android-logo-white.png">
        </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" (click)="hideSideNavBar()" style="cursor: pointer" routerLink="/foods/dashboard">Food
        Dashboard</a>
      <a class="mdl-navigation__link" (click)="hideSideNavBar()" style="cursor: pointer" routerLink="/foods/order">My
        Cart</a>

    </nav>
  </div>
  <div class="android-content mdl-layout__content">
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div>



