<div class="food-menu-section">
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">Food Items</div>
    <div class="android-card-container mdl-grid">
      <p-growl [(value)]="msgs"></p-growl>
      <div *ngFor="let food of foodList; index as i" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img *ngIf="food.image" [src]="getImage(food)">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">{{food.name}}</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">NPR: {{food.price | number : '1.2-2'}}</span>
        </div>
        <div class="mdl-card__actions">

          <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-md-12">
              <div class="ui-inputgroup">
                <button pButton type="button" icon="fa-minus" (click)="minusQuantity(food)"></button>
                <input type="text" pInputText pKeyFilter="int" [(ngModel)]="food.quantity" placeholder="qty">
                <button pButton type="button" icon="fa-plus" (click)="addQuantity(food)"></button>
                <button pButton type="button" label="ADD" class="ui-button-success" (click)="addToOrder(food)"></button>

              </div>

            </div>
          </div>

          <!--<a class="android-link mdl-button mdl-js-button mdl-typography&#45;&#45;text-uppercase" href="">-->
          <!--Make the switch-->
          <!--<i class="material-icons">chevron_right</i>-->
          <!--</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
