<h3 mat-dialog-title>CONFIRM</h3>
<div mat-dialog-content>

  <h6>Press <b>'YES'</b> to confirm and place order. </h6>

</div>
<div mat-dialog-actions style="float: right">
  <button mat-button [mat-dialog-close]="false">CANCEL</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>YES</button>
</div>
