<div class="row">
  <div class="col-sm-12">
    <form id="sa-food-form" novalidate [formGroup]="changePasswordForm">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-message severity="error" [text]=formErrorMsg
                       *ngIf="formErrorMsg"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">

          <div class="ui-grid-col-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                Old Password <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="password" formControlName="oldPassword" placeholder="Old Password"/>
                <p-message severity="error" text="Old Password is Required"
                           *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')&& changePasswordForm.controls['oldPassword'].dirty"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                New Password <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="password" pPassword formControlName="newPassword" placeholder="New Password"/>
                <p-message severity="error" text="New Password is Required"
                           *ngIf="changePasswordForm.controls['newPassword'].hasError('required')&& changePasswordForm.controls['newPassword'].dirty"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                ConfirmPassword <span class="red-color">*</span>:
              </div>
              <div class="ui-grid-col-9">
                <input pInputText type="password" (blur)="isPasswordMatched()" formControlName="confirmPassword"
                       placeholder="Confirm Password"/>
                <p-message severity="error" text="Confirm Password is Required"
                           *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')&& changePasswordForm.controls['confirmPassword'].dirty"></p-message>
                <p-message severity="error" text="Password Didn't Matched with New Password"
                           *ngIf="!isPasswordMatched() && changePasswordForm.controls['confirmPassword'].dirty"></p-message>

              </div>
            </div>
          </div>

        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
          </div>
          <div class="ui-grid-col-3">

            <button pButton type="submit"
                    [disabled]="changePasswordForm.invalid || !isPasswordMatched()" label="Update"
                    (click)="submitForm(false)">
            </button>
          </div>
          <div class="ui-grid-col-2">
            <button pButton type="button" label="Cancel" (click)="closeForm(false)"></button>
          </div>


        </div>
      </div>

    </form>
  </div>
</div>

