<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <div class="demo-ribbon green-bg"></div>
  <main class="demo-main mdl-layout__content">
    <h2 class="t-center mdl-color-text--white text-shadow">My Lunch</h2>
    <a id="top"></a>
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div
        class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">

        <div class="mdl-card__title ">
          <h2 class="mdl-card__title-text">
            <i class="material-icons mdl-color-text--grey m-r-5 lh-13">account_circle</i>
            Login
          </h2>
        </div>
        <div *ngIf="loginErrorMsg" class="mdl-card__title ">
          <p class="mdl-card__title-text">
            <span style="color: #c2270d" class="t-center f14">Your username or password is invalid.</span>
          </p>
        </div>
        <div class="p-l-20 p-r-20 p-b-20">
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" (keypress)="clearError()" formControlName="userName" type="text"
                     id="username"/>
              <label class="mdl-textfield__label" for="username">Username</label>
            </div>
            <div>
              <span style="color: #c2270d" class="t-center f14"
                    *ngIf="loginForm.controls['userName'].hasError('required')&& loginForm.controls['userName'].dirty"
                    for="username">Please enter your user name</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" (keypress)="clearError()" formControlName="password" type="password"
                     id="password"/>
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <div>
              <span style="color: #c2270d" class="t-center f14"
                    *ngIf="loginForm.controls['password'].hasError('required')&& loginForm.controls['password'].dirty"
                    for="password">Please enter your password</span>
            </div>

            <div class="m-t-20 m-b-20" style="float: right">
              <button type="submit" [disabled]="disableBtn()"
                      class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--light-blue">
                Login
              </button>
            </div>

          </form>
        </div>


      </div>
    </div>
  </main>
</div>
