.demo-ribbon {
  width: 100%;
  height: 40vh;

  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.mdl-textfield {
  width: 100%;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: rgb(3, 169, 244);
}

.mdl-textfield__label:after {
  background-color: rgb(3, 169, 244);
}

.green-bg {
  background-color: #68c35e;
}
