<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button pButton (click)="onButtonClick('add')" type="button" pTooltip="Add" tooltipPosition="top"
              icon="fa-plus"></button>
      <button pButton type="button" (click)="onButtonClick('refresh')" tooltipPosition="top" pTooltip="Refresh"
              icon="fa-refresh"></button>
    </div>
  </div>
</div>
