<footer class="android-footer mdl-mega-footer">
  <!--<div class="mdl-mega-footer&#45;&#45;top-section">-->
  <!--<div class="mdl-mega-footer&#45;&#45;left-section">-->
  <!--<button class="mdl-mega-footer&#45;&#45;social-btn"></button>-->
  <!--&nbsp;-->
  <!--<button class="mdl-mega-footer&#45;&#45;social-btn"></button>-->
  <!--&nbsp;-->
  <!--<button class="mdl-mega-footer&#45;&#45;social-btn"></button>-->
  <!--</div>-->
  <!--</div>-->

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light" style="text-align: center">Copyright © 2018 MyLunch. All Rights reserved.
      <span class="right-content">Develoved by:
        <a target="blank" href="https://www.linkedin.com/in/anil-kumal-b23b13b0/">Anil Kumal</a>
      </span>
    </p>

  </div>

  <!--<div class="mdl-mega-footer&#45;&#45;bottom-section">-->
  <!--<a class="android-link android-link-menu mdl-typography&#45;&#45;font-light" id="version-dropdown">-->
  <!--Versions-->
  <!--<i class="material-icons">arrow_drop_up</i>-->
  <!--</a>-->
  <!--<ul class="mdl-menu mdl-js-menu mdl-menu&#45;&#45;top-left mdl-js-ripple-effect" for="version-dropdown">-->
  <!--<li class="mdl-menu__item">5.0 Lollipop</li>-->
  <!--<li class="mdl-menu__item">4.4 KitKat</li>-->
  <!--<li class="mdl-menu__item">4.3 Jelly Bean</li>-->
  <!--<li class="mdl-menu__item">Android History</li>-->
  <!--</ul>-->
  <!--<a class="android-link android-link-menu mdl-typography&#45;&#45;font-light" id="developers-dropdown">-->
  <!--For Developers-->
  <!--<i class="material-icons">arrow_drop_up</i>-->
  <!--</a>-->
  <!--<ul class="mdl-menu mdl-js-menu mdl-menu&#45;&#45;top-left mdl-js-ripple-effect" for="developers-dropdown">-->
  <!--<li class="mdl-menu__item">App developer resources</li>-->
  <!--<li class="mdl-menu__item">Android Open Source Project</li>-->
  <!--<li class="mdl-menu__item">Android SDK</li>-->
  <!--<li class="mdl-menu__item">Android for Work</li>-->
  <!--</ul>-->
  <!--<a class="android-link mdl-typography&#45;&#45;font-light" href="">Blog</a>-->
  <!--<a class="android-link mdl-typography&#45;&#45;font-light" href="">Privacy Policy</a>-->
  <!--</div>-->
</footer>
