<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title" style="cursor: pointer" (click)="onLogoClick()">
            <img class="android-logo-image" src="./assets/images/android-logo.png">
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <span class="android-mobile-title mdl-layout-title cursor-pointer" (click)="onLogoClick()">
            <img class="android-logo-image" src="./assets/images/android-logo.png">
          </span>
      <div class="android-more-button material-icons mdl-badge mdl-badge--overlap" style="cursor: pointer"
           (click)="onCartClick()">kitchen
      </div>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
              id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item" (click)="changePassword()">Change Password</li>
        <li class="mdl-menu__item" (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>
  <div id="app-drawer" class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="./assets/images/android-logo-white.png">
        </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" (click)="hideSideNavBar()" style="cursor: pointer" routerLink="/adminpanel/food">Food</a>
      <a class="mdl-navigation__link" (click)="hideSideNavBar()" style="cursor: pointer"
         routerLink="/adminpanel/manage-order">Manage Order</a>

    </nav>
  </div>
  <div class="android-content mdl-layout__content">
    <p-growl appendTo="body" [value]="msgs"></p-growl>
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div>

<p-dialog appendTo="body" [header]="formHeader" (onHide)="hideDialog($event)" [(visible)]="displayDialog"
          [responsive]="true"
          showEffect="fade" [modal]="true" minWidth="550" [positionTop]="topPosition">
  <app-change-password-form [changePasswordModel]="dataModel" [buttonType]="buttonType"
                            (onFormSubmit)="onFormSubmit($event)"></app-change-password-form>
</p-dialog>
<!--<a routerLink="/foods/order"-->
<!--id="view-source"-->
<!--class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-color&#45;&#45;accent mdl-color-text&#45;&#45;accent-contrast">My Order-->
<!--</a>-->
<!--<button mat-raised-button color="primary"-->
<!--matBadge="8" matBadgePosition="before" matBadgeColor="accent">-->
<!--Action-->
<!--</button>-->


