<div class="food-menu-section">
  <div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast padding-bottom-20">
      Manage Order
      <button [disabled]="disableCloseSaleBtn" (click)="closeSales()"
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
        Close Sales
      </button>
    </div>
    <p-growl appendTo="body" [value]="msgs" sticky="true"></p-growl>
    <div class="table-responsive">
      <p-table #dt sortField="orderDate" sortOrder="-1" [columns]="cols" [value]="listData" [paginator]="true"
               [rows]="15" [loading]="loadingStatus">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Search Food..."
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            <button pButton type="button" (click)="onButtonClick('refresh')" tooltipPosition="top" pTooltip="Refresh"
                    icon="fa-refresh"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center"> Sorry, There are no food orders to display.</td>
          </tr>

        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Order ID</th>
            <th>Order By</th>
            <th>Total Amount</th>
            <th>Order Time</th>
            <th>Delivery Type</th>
            <th>Order Status</th>
            <th>
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td><a style="cursor: pointer" class="green-text" (click)="viewOrderDetail(rowData)">
              {{rowData['code']}}</a></td>
            <td><a style="cursor: pointer" class="green-text" (click)="viewOrderDetail(rowData)">
              {{rowData['orderBy']}}</a></td>
            <td>{{rowData['totalAmount'] | number : '1.2-2'}}</td>
            <td>{{rowData['orderDate'] | date:'shortTime'}}</td>
            <td>{{rowData['deliveryType']}}</td>
            <td><span>{{rowData['orderStatus']}}</span></td>
            <td>
              <p-splitButton label="Paid" icon="fa-check" (onClick)="paid(rowData)"
                             (onDropdownClick)="onDropdownClick(rowData)" [model]="actionItems"
                             styleClass="ui-button-success"></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div *ngIf="displayDialog">
    <p-dialog appendTo="body" closeOnEscape="true" (onHide)="hideDialog($event)" [(visible)]="displayDialog"
              [responsive]="true"
              showEffect="fade" [modal]="true" minWidth="300" [positionTop]="topPosition" dismissableMask="true">
      <p-header>
        {{formHeader}} : <strong>{{selectedOrderDetails.code}}</strong>
      </p-header>
      <div class="mdl-grid" style="width: 500px">
        <div class="mdl-cell mdl-cell--6-col">Order By: <strong>{{selectedOrderDetails.orderBy}}</strong></div>
        <div class="mdl-cell mdl-cell--6-col">
          <p>Delivery Type: <strong>{{selectedOrderDetails.deliveryType}}</strong></p>
          <p *ngIf="selectedOrderDetails.deliveryAddress">Delivery Address: <strong>{{selectedOrderDetails.deliveryAddress}}</strong>
          </p>
        </div>
        <div class="mdl-cell mdl-cell--6-col">Date: <strong>{{selectedOrderDetails.orderDate | date:'yyyy-MM-dd hh:mm
          a'}}</strong></div>
        <div class="mdl-cell mdl-cell--6-col">Status: <strong>{{selectedOrderDetails.orderStatus}}</strong></div>

      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-responsive-table">
            <thead>
            <th>S.N.</th>
            <th>Food</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>

            </thead>
            <tbody>
            <tr *ngFor="let foodOrder of selectedOrderDetails.foodOrderDetailList; let i = index">
              <td>{{i+1}}</td>
              <td>{{foodOrder.ofoFoodEntity.name}}</td>
              <td>{{foodOrder.ofoFoodEntity.price | number : '1.2-2'}}</td>
              <td>{{foodOrder.quantity}}</td>
              <td>{{foodOrder.ofoFoodEntity.price * foodOrder.quantity | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td colspan="4" style="text-align: right"><strong>Grand Total:</strong></td>
              <td><strong>{{selectedOrderDetails.totalAmount |number : '1.2-2'}}</strong></td>
            </tr>
            </tbody>


          </table>
        </div>
      </div>
    </p-dialog>
  </div>
</div>


