<h3 mat-dialog-title>ORDER DETAIL: ODR-1001</h3>
<div mat-dialog-content>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">Order By: Rajesh Shrestha</div>
    <div class="mdl-cell mdl-cell--3-col">Date: 2018-05-22</div>
    <div class="mdl-cell mdl-cell--3-col">Delivery Type: Pick When Ready</div>
    <div class="mdl-cell mdl-cell--2-col">Status: New</div>

  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-responsive-table">
        <thead>
        <th>S.N.</th>
        <th>Food</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>

        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Momo</td>
          <td>80</td>
          <td>2</td>
          <td>160.00</td>
        </tr>
        </tbody>


      </table>
    </div>
  </div>

</div>
<div mat-dialog-actions style="float: right">
  <button mat-button [mat-dialog-close]="true">CLOSE</button>
</div>
