
.mat-dialog-title {
  font: 700 18px/10px Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-dialog-title {
  margin: 0 0 0 0 !important;
  display: block !important;
}

.mdl-responsive-table {
  table-layout: fixed;
  width: 100%;
}

.mdl-responsive-table a {
  color: #6ab344;
}

.mdl-responsive-table td, th {
  width: 100%;
  white-space: nowrap;
  text-overflow: clip;
  -o-text-overflow: ellipsis;
  text-align: center;

}
